@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root{
    --primary:#6b63ff;
    --secondary:#766ff9;
    --text-color:#fff;
}
html, body{
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  color: var(--text-color);
}
::-webkit-scrollbar {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #766ff9;
}
.container {
  padding: 10px 10%;
}
#about-header{
    background: #000;
    width: 100%;
    height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 10%;
  font-size: 20px;
}
.header-text h1 {
  font-size: 40px;
  margin-top: 20px;
}
.header-text #name-higlight {
  color: var(--primary);
}
#logo-text {
  font-size: 50px;
  margin-top: 20px;
}
#logo-text span {
  color: var(--primary);
}